/* seleciona todos os elementos do html */
*{
    /* zerar os espaçamentos dos elementos */
    margin: 0;
    padding: 0;

    /* considerar a borta tambem */
    box-sizing: border-box ;
    
}

/* definir valores padrao pra propriedades abaixo */

body{

    /* difinir uma fonte padrao */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /* definir o tamanho padrao da fonte da pagina */
    font-size: 16px;

    /* definir a cor do texto padrao */
    color: #333;

    /* definir o alinhamento padrao */
    text-align: center;

}
/* seleciona tudo da classe container */
.container{
    /* definir a largura minima e a maxima do site */
    min-width: 400px;
    max-width: 1200px;

    /* cor de fundo */
    background-color: gray;

    /* centralizar container */
    margin: 0 auto;

}

header{

    background-color: #333;

}

a.logo{

    /* inline-block permite que o elemento tenha a latura e larura que quero */
    display: inline-block;
    
    width: 150px;
}

a.logo>img{

    width: 100%;

}

/* o marcador sempre fica de fora da marcação */

li{
    /* posição do marcador da lista */
    /* list-style-position: inside; */

    /* sem nenhuma marcador */
    list-style-type: none;
}

a:link,
a:visited{

    color: #ebeebe;
    text-decoration: none;
}

.banner{

    /* defini uma imagem de fundo */
    background-image: url(../img/banner.jpg);
    height: 300px;

    /* define o tamanho da imagem de fundo */
    background-size: cover;
    color: antiquewhite;

    /* definir a posição do background */
    background-position: center;
    
}
